<section class="admin-register text-center" *ngIf="isLogged == 'notLogged'; else logged">
   <h3 class="text-center pt-5">WELCOME ADMIN</h3>
   <hr class="mt-4">
   <form class="mt-5" name="adminRegister" #adminRegister="ngForm" (ngSubmit)=" check(adminRegister)">
   <div >
      <input class="mt-3 px-2" type="email" name="email" #email="ngModel"
      [(ngModel)]="admin.email" placeholder="Email" required>
      <span *ngIf=" !email.valid && email.touched" class="text-danger  font-weight-bold" >*</span>
   </div>
   <div >
      <input class="mt-3 px-2" type="password" name="password" #password="ngModel"
      [(ngModel)]="admin.password" placeholder="Password" required>
      <span *ngIf="!password.valid && password.touched " class="text-danger  font-weight-bold" >*</span>
   </div>
   <button [disabled]="!adminRegister.valid" type="submit" class="btn mt-3">Sign Me In</button>
   </form>
</section>

<ng-template #logged>
<section class="admin-register">
</section>
</ng-template>
